.flex-container  {
    display: flex;
    background-color: chartreuse;

}

.flex-container > div {

background-color: crimson;
margin: 10px;
padding: 20px;
font-size: 30px;
}



.flex-container {
    border: 5px dotted coral;
    position: center;
    width: 100%;
    min-height: 100%;
    padding: 25px 0;
    display: flex;


}

.element-style  {
    justify-content: flex-start;
    justify-content: flex end; 
    justify-content: flex center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
 }

 .align-items {

    align-items: flex-start;
    align-items: flex-end;
    align-items: flex-center;
    align-items: stretch;
    align-items: baseline;
    align-items: flex-end; 

}
 
.card {
    background-color: blue;
    border: 5px solid black;
    border-radius: 15px;
    min-width: 100px;
    min-height: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 180px;
}

.large {
     flex-wrap: wrap;
     min-height: 60%;
 }

 .img {
     border-radius: 50%;
 }

