
 /* .first-block {
     position: absolute;
     width: 468px;
     height: 160px;
     left: 98px;
     top: 90px;
 }


.flex-container  {
    display: left;
    background-color: chartreuse;

}

.flex-container > div {

background-color: crimson;
margin: 20px;
padding: 20px;
font-size: 50px;
}


.flex-container {

    position: center;
    width: 45%; 
    min-height: 100%;
    padding: 20px 0;
    display: flex;


} */

/* .element-style  {
    justify-content: flex-start;
    justify-content: flex end; 
    justify-content: flex center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
 }

 .align-items {

    align-items: flex-start;
    align-items: flex-end;
    align-items: left;
    align-items: baseline;
    align-items: flex-end; 

}
 .div-container {

    flex-grow: 2;
    order: -1
}
.card {
    position: left;
    border-radius: 4px;
    min-width: 30px;
    min-height: 20px;
    margin: 20px;
    display: left;
    justify-content: left;
    align-items: left;
    flex-basis: 30px;
}

.large {
    
     min-height: 30%;
 }  */


 .first-container {
    width: 468px;
    height: 160px;
    border-radius: 8px;
    background-color: crimson;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
 }

 .box {
    width: 78px;
    height: 78px;
    border-radius: 4px;
    margin: 20px;
    background-color: cyan;
 }

 .second-container {
     width: 468px;
     height: 160px;
     border-radius: 8px;
     margin: 20px;
     background-color: crimson;
     display: flex;
     justify-content: flex-end;
      align-items: flex-end;
 }

 .box {
    width: 78px;
    height: 78px;
    border-radius: 4px;
    margin: 20px;
    background-color: cyan;    

    }


.third-container {
     width: 468px;
     height: 160px;
     border-radius: 8px;
     margin: 20px;
     background-color: crimson;
     display: flex;
     justify-content: center;
     align-items: baseline;
    

      
     }

     .large {
     width: 78px;
     min-height: 120px;
     border-radius: 4px;
     margin-left: 63px;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-right: 63px;
     flex-grow: 2;
     align-items: baseline;
     background-color: cyan;
     
  }
    
.small {

    width: 77px;
    height: 76px;
    border-radius: 4px;
    margin: 50px;
    background: cyan;


    }

.large {

    width: 78px;
    min-height: 120px; 
    border-radius: 4px;
    margin-left: 63px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 63px;
    align-items: baseline;
    background-color: cyan;
    }


.fourth-container { 
     width: 468px;
     height: 160px;
     border-radius: 8px;
     margin: 20px;
     background-color: crimson;
     display: flex;
     position:right;
     justify-content: center;
     align-items: flex-end;
     align-content: right;

    }

    .long {
        width: 78px;
        min-height: 120px;
        border-radius: 4px;
        margin: 20px;
        background-color: cyan;
    }

    .fifth-container {

        width: 468px;
        height: 160px;
        border-radius: 8px;
        margin: 20px;
        background-color: crimson;
        display: flex;
        position: right;
        justify-content: center;
        align-items: flex-end;
        align-content: right;
   

    }

    .left {

        width: 78px;
        height: 78px;
        border-radius: 4px;
        margin-top: 20px;
        margin-bottom: 62px;
        margin-left: 10px;
        margin-right: 97px;
    }

    .center {

        width: 78px;
        height: 78px;
        border-radius: 4px;
        margin-top: 20px;
        margin-bottom: 62px;
        margin-left: 97px;
        margin-right:107px;

    
    }
    .right {

        align-self: flex-end;
    }

    .sixth-container {

        width: 468px;
        height: 160px;
        border-radius: 8px;
        margin: 20px;
        background-color: crimson;
        display: flex;
        position: right;
        justify-content: center;
        align-items: flex-end;
        align-content: right;
       
    }

    .left1 {

        width: 78px;
        height: 78px;
        border-radius: 4px;
        margin-top: 41px;
        margin-bottom: 41px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .middle {

        width: 156px;
        height: 78px;
        border-radius: 4px;
        margin-top: 41px;
        margin-bottom: 41px;
        margin-left: 20px;
        margin-right: 20px;
        flex-grow: 2;

    }

    .right {

        width: 78px;
        height: 78px;
        border-radius: 4px;
        margin-top: 41px;
        margin-bottom: 41px;
        margin-left: 20px;
        margin-right: 20px;

    
    }